@import "../../assets/scss/variables.scss";
.about_wrapper {
    width: min(800px, 100% - 20px);
    margin-inline: auto;
    padding: 0 0 8rem;
    &::-webkit-scrollbar {
        visibility: hidden;
        width: 3px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        
        background-color: $--backgroun-color;;
    }

    /* Handler */
    &::-webkit-scrollbar-thumb {
        
        max-height: 20px;
        background-color:$--accentColor;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background-color: $--accentColor;
    }
    .highlight {
        color: $--accentColor;
    }
    &> h3{
        font-size: 36px;
        margin-bottom: 1rem;
        &>span.highlight {
            color: $--accentColor;
        }
    }
    &>p {
        margin-bottom: 1rem;
        font-size: 24px;

        &::first-letter{
            padding-left: 5px;
            color: $--accentColor;
            &>span.highlight {
                color: $--accentColor;
            }
        }
    }
}