@import "../../assets/scss/variables.scss";

.hero_wrapper {

    display: grid;
    grid-template-rows: 4fr 3fr;
    width: min(100% - 20px, 1024px);
    margin-inline: auto;

    .blinks {

        @include blink_animation;
        color: $--accentColor;
        text-transform: lowercase;
    }

    .npm {
        color: $--accentColor;
        text-transform: lowercase;
        font-size: 50%;
    }

    .hero_content {
        display: grid;
        gap: 20px;
        grid-template-columns: 5fr 3fr;
        align-items: end;
        justify-content: center;

        @media (500px > width) {
            grid-template-columns: 10fr 1fr;
        }

        .hero_main {
            align-self: end;
            justify-self: end;

            h2 {
                font-size: 40px;
                font-family: "NAMU1400";
                font-weight: 900;
                text-align: right;
                margin: .5rem 0;
            }
        }

        .photo_hero {
            width: 200px;
            border-bottom: 15px solid $--accentColor;

            @media (500px > width) {
                display: none;
            }

            img {
                user-select: none;
                pointer-events: none;
                object-position: bottom center;
            }
        }
    }

    .hero_links {
        width: 400px;
        margin-inline: auto;

        @media (500px > width) {
            width: 100%;
        }

        &>ul {
            margin-top: 2rem;
            display: flex;
            flex-direction: row;
            gap: 20px;
            list-style: none;

            @media (500px > width) {
                flex-direction: column-reverse;
                align-content: space-around;
                justify-content: center;
                align-items: center;
            }

            &>li {
                @media (500px > width) {

                    &:nth-child(2) {
                        display: none;
                    }
                }

                &>a {
                    display: flex;
                    gap: 10px;

                    @media (500px > width) {
                        opacity: 1 !important;

                    }

                }

                &:nth-child(1) {
                    svg {
                        rotate: -90deg;
                        @include transition300;
                    }

                    &:hover {
                        svg {
                            rotate: -45deg
                        }
                    }
                }

                &:nth-child(3) {
                    svg {
                        rotate: 0;
                        @include transition300;
                    }

                    &:hover {
                        svg {
                            rotate: -45deg
                        }
                    }
                }

            }
        }
    }
}

.hightlight {
    color: $--accentColor;
}