.icon{
    width: 20px;
    height: 20px;
}

// .icon:hover {
//     fill: currentColor;
//     stroke: currentColor;
// }

.arrow_icon, .github_icon, .linkedin_icon, .ya_logo_icon {
    user-select: none;
}

.ya_logo_icon {
    width: 40px;
    height: 40px;
}